<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="/">The Fake-Store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"  *ngIf="loggedin" (click)="logout()">
        <div class="log" id="logout">
          LOGOUT
        </div>
      </li>
      <li class="nav-item"  *ngIf="!loggedin" (click)="login()">
        <div class="log" id="login">
          LOGIN
        </div>
      </li>
      <li class="nav-item">
        <div class="search-container">
            <div class="search-input-container">
              <input type="text" class="search-input" placeholder="Search...">
            </div>
          </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/profile']"><i class="fas fa-user-circle"></i></a>
      </li>
      <li class="nav-item" id="cart">
        <a class="nav-link" [routerLink]="['/cart']"><i class="fas fa-shopping-cart"></i></a>
        <p id="cart-count">
          {{allproductsFromCart.length}}
        </p>
      </li>
    </ul>
  </div>
</nav>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
