/* Add your custom styles here */

    /* Optional: Adjust navbar color and other styles */
    .navbar {
        background-color: #000000;
        height: 100px;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
      }
  
      .navbar-brand {
        color: #fff; /* Company name color */
        font-weight: bold; /* Make the text bold */
        font-size: 26px;
        margin-left: 1em;
      }
  
      .navbar-brand:hover {
        color: #fff; /* Company name color on hover */
      }
  
      /* Align the company name to the left and icons to the right */
      .navbar-nav.ml-auto {
        margin-right: 15px;
      }
  
      /* Optional: Adjust icon colors and styles */
      .navbar-nav.ml-auto i {
        color: #fff; /* Icon color */
        font-size: 1.2em; /* Icon size */
        margin: 0 10px; /* Adjust icon spacing */
      }
  
      /* Optional: Adjust icon colors on hover */
      .navbar-nav.ml-auto i:hover {
        color: #f39c12; /* Icon color on hover */
      }

      .bi{
        color: #f9a0a0;
        margin-top: 0.38em;
        cursor: pointer;

      }
      .bi:hover{
        color: red;
      }

      .search-container {
        display: flex;
        align-items: center;
      }
  
      .search-input {
        padding: 8px;
        border: none;
        border-radius: 15px;
        margin-right: 10px;
        width: 400px;
      }
      .search-input-container {
        position: relative;
      }
  
      .search-input-container i {
        position: absolute;
        left: 8px;
        top: 50%;
        transform: translateY(-50%);
        color: #000; /* Black icon color */
      }