
<div class="my-div">
        <p class="welcome">Welcome to <span style="color:  #3498db;"> The Can-Do </span> Store!</p>

        <div class="login-form">
            <h2 style="margin-bottom: 0.5em;">Login</h2>
            <form #myForm="ngForm" (ngSubmit)="loginUser()">
              <label for="email">Email:</label>
              <input type="email" id="email" name="email" [(ngModel)]="loginData.email" required>
          
              <label for="password">Password:</label>
              <input type="password" id="password" name="password" [(ngModel)]="loginData.password" required>
          
              <button type="submit">Login</button>
            </form>
            <p style="margin-top: 1em; margin-left: 1em;">don't have an account? <span style="color: blue; cursor: pointer;" [routerLink]="['/register']">Register</span></p>
        </div>

        
</div>
  