<!-- app.component.html -->
<div class="oval-nav">
  <div class="nav-item" data-category="all" [style.color]="allTextColor" [style.background-color]="allBackgroundColor" (click)="changeBackgroundColor('all')">All</div>
  <div class="nav-item" data-category="men" [style.color]="menTextColor" [style.background-color]="menBackgroundColor" (click)="changeBackgroundColor('men')">Men</div>
  <div class="nav-item" data-category="women" [style.color]="womenTextColor" [style.background-color]="womenBackgroundColor" (click)="changeBackgroundColor('women')">Women</div>
  <div class="nav-item" data-category="electronics" [style.color]="electronicsTextColor" [style.background-color]="electronicsBackgroundColor" (click)="changeBackgroundColor('electronics')">Electronics</div>
  <div class="nav-item" data-category="jewelery" [style.color]="jeweleryTextColor" [style.background-color]="jewelryBackgroundColor" (click)="changeBackgroundColor('jewelry')">Jewelry</div>
</div>
