.main-container{
    height:100vh;
    width:100%;
    /*background-color: aquamarine;*/
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: auto;
    padding-top: 50px;
}
.items-container{
    background-color: #f4f4f4;
    height: 8rem;
    width:80%;

    display: flex;
    flex-direction: row;
}
#item-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-container{
    height: 100%;
    width: 20%;
   /* background-color: blueviolet;*/
}
img{
    height:100%;
    width: 75%;
}
.item-description{
    height:60%;
    width:100%;
    display: flex;
    flex-direction: column;
}
.item-description-bottom{
    display: flex;
    flex-direction: row;
    padding-left: 50%;
    margin-top: 2rem;
}
.btn-add {
    border: 0px;  
}

.delete-button{
    margin-left: 9rem;
}
.items-container-checkout{
    background-color: #f4f4f4;
    height: 10rem;
    width:80%;
   display: flex;
   flex-direction: column;
   margin-top: 3rem;

}
.item-summary{
    display: flex;
    flex-direction: row;
    width:100%;
    height: 50%;
    padding-left:2rem;
    font-size: large;
    margin-bottom: 3rem;
    padding-top: 1rem;
}
.checkout{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
  
}
.checkout-btn{
    background-color: black;
    color: white;
    font-weight: bold;
    height: 4rem;
    width: 12rem;
    margin-bottom: 1rem;
}

.payment-methods{
    display: flex;
    flex-direction: column;
    justify-content:left;
    height: 200px;
    width: 80%;
  
    margin-top: 1rem;
}
.methods-top{
    height: 50px;
    width: 75%;
 
    font-weight: bold;
    font-size: large;
    padding-left:1rem;
    padding-top: 1rem;
}
.methods-bottom{
    display: flex;
    flex-direction: row;
    height: 150px;
   padding-top: 1rem;
}
.visa{
    height: 100px;
    width:120px;
    padding-left: 1rem;
}