<app-navbar></app-navbar>

<div class="main-container">
    <p class="carttext">Cart</p>
    <div class="holderdiv" >
        <div *ngFor="let item of allproductsFromCart; let i = index" >
            <section class="items">
                <div style="border-right: 2px dotted; padding: 1em;">
                    <img [src]="allproductsFromCart[i].image" alt="" >
                </div>
                <div class="right-container">
                    <div class="description">
                        <p style="font-weight: bold;">{{allproductsFromCart[i].description}}</p>
                        <p id="price"  style="font-weight: bolder;">R {{allproductsFromCart[i].price}}</p>
                    </div>
                    <div class="btns">
                        <div class="qty-buttons">
                            <button class="btn-minus" (click)="minus(allproductsFromCart[i].id)">-</button>
                            <button class="btn-center">{{quantities[allproductsFromCart[i].id]}}</button>
                            <button class="btn-add" (click)="plus(allproductsFromCart[i].id)">+</button>
                        </div>
                        <button id="delete" (click)="deleteProduct(item.id)"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                            class="bi bi-trash" viewBox="0 0 16 16">
                            <path
                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                            <path
                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                            </svg>
                        </button>
                    </div>
                </div>

            </section>           
    
        </div>
    </div>

    <ng-container *ngIf="allproductsFromCart.length == 0"> 
        <div class="container">
            <div class="center">
                <img src="https://media.istockphoto.com/id/861576608/vector/empty-shopping-bag-icon-online-business-vector-icon-template.jpg?s=612x612&w=0&k=20&c=I7MbHHcjhRH4Dy0NVpf4ZN4gn8FVDnwn99YdRW2x5k0=" alt=""> 
                <h4>Your cart is empty!</h4>
                <h6>Add item to it now</h6>
                <button [routerLink]="['']"  class="btn btn-primary">Shop Now</button>
            </div>
        </div>
    </ng-container>

</div>


<div class="items-container-checkout" *ngIf="allproductsFromCart.length != 0">
    <div class="item-summary">
        <p class="orderText">Order Summary:</p>
        <p class="orderText"  id="total-price">R {{total}}</p>
    </div>
    <div class="checkout">
        <button class="checkout-btn">Checkout Now</button>
    </div>
</div>
<app-footer></app-footer>
