.main-container{
    height:85vh;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    margin-top: 6em;
}

.carttext{
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    margin-top: 1em;
}

.items{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1em;
    border-radius: 1.2em;
    padding: 1px;
    border: 1px solid ;
}

.holderdiv{
    display: flex; 
    flex-direction: column; 
    gap: 2em; 
    width: 100%; 
    padding: 2em;
}

.description{
    padding: 1em;
}

.right-container{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.btns{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 2em;
    gap: 8em;
}

img{
    width: 12.5em; 
    height: 12.5em; 
}

.btn-add{
    padding: 0.6em;
    padding-left: 1em;
    padding-right: 1em;
    height: 100%;
    background-color: inherit;
    border: 1px solid ;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

.btn-minus{
    padding: 0.6em;
    padding-left: 1em;
    padding-right: 1em;
    height: 100%;
    background-color: inherit;
    border: 1px solid ;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

.btn-center{
    padding: 0.6em;
    padding-left: 1em;
    padding-right: 1em;
    height: 100%;
    background-color: inherit;
    border: 1px solid ;
}

.qty-buttons{
    border-radius: 1em;
    background-color: rgb(210, 210, 210);
    align-items: center;
    width: 2em;
    display: flex;
    flex-direction: row;
}

.qty{
    border: 1px solid;
    height: 100%;
    margin-top: 1em;
}

#delete{
    background-color: inherit;
    border: 1px solid;
    border-radius: 1em;
}

.item-summary{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.orderText{
    font-size: xx-large;
    font-weight: bolder;
   
}

.items-container-checkout{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
} 

.checkout-btn{
    font-size: large;
    background-color: black;
    color: white;
    width: 20em;
    height: 4em;
    border-radius: 2em;
}
.items-container-checkout{
   padding: 2em;

}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.center img {
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
    height: 16em;
    width: 300px;
    margin: 20px 0px;
}

h4,
h6 {
    font-weight: 400;
}
