 <!-- <ng-container>

 </ng-container> -->
<!--  
 <div class="main-container">
    <div class="items-container" id="item-heading">
    <div class="cart-heading"><p style="font-weight: 400; font-size: large;">Cart</p></div>
        <div style="display: flex; flex-direction: row;" class="cart-link"> 
            <a link href="#">Home</a><p style="padding-left: .5rem;">Cart</p></div>
  

    </div><br>

    <div *ngFor="let item of allproductsFromCart; let i = index" >
        <div>
            <div class="items-container">
                <div class="img-container">
                    <img [src]="allproductsFromCart[i].image">
                </div>
                <div class="item-description">
        
                    <div class="item-description-top">
                        <p style="font-weight: bold;">{{allproductsFromCart[i].description}}</p>
                        <b id="price">R {{allproductsFromCart[i].price}}</b>
                    </div>
                    <div class="item-description-bottom">
                        <div class="qty-buttons">
                            <button class="btn-add">+</button>
                            <label class="qty" id="quantity">1</label>
                            <button class="btn-add">-</button>
                        </div>
                        <div class="delete-button">
                           
                            <button id="delete"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                class="bi bi-trash" viewBox="0 0 16 16">
                                <path
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                <path
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                            </svg></button>
                        </div>
                    </div>
                </div>
        
            </div>
        </div>

    </div>


    
    <div class="items-container-checkout">
        <div class="item-summary">
            <b>Order Summary:</b>
            <b style="margin-left: 5rem;" id="total-price">R8599.98</b>
        </div>
        <div class="checkout">
            <button class="checkout-btn">Checkout Now</button>
        </div>
    </div>

    <div class="payment-methods">
        <div class="methods-top">
            We accept
        </div>
        <div class="methods-bottom">
            <img class="visa" src="https://logowik.com/content/uploads/images/visa-payment-card1873.jpg">
           <img class="visa" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/MasterCard_Logo.svg/1280px-MasterCard_Logo.svg.png">
        <img class="visa" src="https://1000logos.net/wp-content/uploads/2021/04/Paypal-logo.png">
        </div>
       
    </div>


</div>  -->




<!-- <ng-container *ngIf="products.length !=0"> 
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of products; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{item.title}}</td>
                            <td><img style="width: 120px;" src="{{item.image}}" alt=""></td>
                            <td style="width: 25%;">{{item.description}}</td>
                            <th style="width: 12%;">{{item.price}}</th>
                            <td style="width: 12%;">{{item.quantity}}</td>
                            <td style="width: 12%;">{{item.total}}</td>
                            <td>
                                <button (click)="removeItem(item)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td><button (click)="emptycart()" class="btn btn-danger">Empty Cart</button></td>
                            <td><button routerLink="/products" class="btn btn-primary">Shop More</button></td>
                            <td><button class="btn btn-success">Checkout</button></td>
                            <td><strong>Grand Total : ${{grandTotal}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>  -->










<ng-container *ngIf="allproductsFromCart.length !=0">
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of allproductsFromCart; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{item.title}}</td>
                            <td><img style="width: 120px;" src="{{item.image}}" alt=""></td>
                            <td style="width: 25%;">{{item.description}}</td>
                            <th style="width: 12%;">{{item.price}}</th>
                            <td style="width: 12%;">{{item.quantity}}</td>
                            <td style="width: 12%;">{{item.total}}</td>
                            <td>
                                <button (click)="removeItem(item)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td><button (click)="emptycart()" class="btn btn-danger">Empty Cart</button></td>
                            <td><button routerLink="/products" class="btn btn-primary">Shop More</button></td>
                            <td><button class="btn btn-success">Checkout</button></td>
                            <td><strong>Grand Total : ${{grandTotal}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<!-- <ng-container *ngIf="allproductsFromCart.length ==0"> 
    <div class="container">
        <div class="card">
            <h5 class="card-title">My Cart</h5>
        </div>
        <div class="center">
            <img src="https://media.istockphoto.com/id/861576608/vector/empty-shopping-bag-icon-online-business-vector-icon-template.jpg?s=612x612&w=0&k=20&c=I7MbHHcjhRH4Dy0NVpf4ZN4gn8FVDnwn99YdRW2x5k0=" alt=""> 
            <h4>Your cart is empty!</h4>
            <h6>Add item to it now</h6>
            <button routerLink="/item-details" class="btn btn-primary">Shop Now</button>
        </div>
    </div>
 </ng-container>   -->