
<app-navbar></app-navbar>
<div class="main">

    <div class="topc">
        <b>The Can-Do 
         <span class="tit" [routerLink]="['/home']" style="cursor: pointer;"> / Products /</span> 
             {{productDeatail.id}}</b>
    </div>
    <div class="direction" >
        <div class="left">
            <img class="monitor" [src]="productDeatail.image" alt="monitor" >
        </div>
        <div class="right">
            <div class="title_category_price">
                <p class="title">{{ productDeatail.title}}
                    <br><span class="category">{{ productDeatail.category}}</span>
                </p>
                <p class="price">R {{ productDeatail.price}}</p>
            </div>
            <div class="desc-container">
                <p class="dec">
                    {{ productDeatail.description}}
                </p>
            </div>
            <div class="button-container">
                <button class="favorite-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-heart"
                        viewBox="0 0 16 16" >
                        <path
                            d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                    </svg>
                </button>
                <button (click)="addToCart(productDeatail)" class="cart-button">
                    <p class="add" style="margin-top: 18px;">Add to cart</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-cart-fill"
                        viewBox="0 0 16 16">
                        <path
                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                    </svg>
                </button>
            </div>
        </div>
    </div>

</div>

<app-footer></app-footer>